#comment-section {
    display: flex;
    flex-direction: column;

    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;

    height: 82vh;
    padding: 10px 10px 10px 0px;
}

#comment-ol {
	flex: 1 1 auto;
	height: auto;
	flex-direction: column;
	word-wrap: break-word;
	overflow: auto;
	max-height: 57vh;
}

.comment-li {
	margin: 5px;
}

.comment-meta {
	padding: 5px 10px;
	margin: 0px 10px;
}

.comment-meta span {
	font-size: small;
	color: gray;
}

.comments-text {
    height: fit-content;
    border-left: 5px solid #29323c;
    border-radius: 3px;
    padding: 5px 10px;
    margin: 0px 22.5px;
}

@media only screen and (max-width: 900px) {
    #comment-section {
        height: fit-content;
        padding: 10px;
    }
}
