.marker-icon {
	color: var(--primary-dark);
	cursor: pointer;
}

.popup-container {
	align-items: center;
	width: fit-content;
	height: fit-content;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	min-width: 200px;
}

.popup-label {
	color: var(--quinary-main);
	font-size: 18px;
	border-bottom: 1px solid var(--quinary-main);
	width: max-content;
	margin: 3px 0;
}

.popup-desc {
	color: var(--otherColor-blue);
	font-size: 24px;
	font-weight: bold;
}

.popup-title-container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 5px;
}

.popup-title-container img {
	width: 30px;
	height: 30px;
	margin: 0px 5px;
}

.popup-title {
	color: var(--otherColor-blue);
}

.popup-time {
	color: var(--otherColor-blue);
	text-align: center;
	font-size: 13px;
}

.searchInput {
	width: 100%;
	height: 50px;
	border: 0.5px solid rgb(198, 198, 198);
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	padding-left: 15px;
}

/* Overwrite Mapbox style */
.mapboxgl-popup-close-button {
	font-size: 26px !important;
	font-weight: bolder;
	padding: 5px;
	height: 11.5%;
	background-color: lightcoral;
}

.map-container {
	height: 500px;
}

.MuiCircularProgress-indeterminate {
	animation: circular-rotate 0.5s linear infinite;
}

.left-container {
	display: flex;
	flex-direction: column;

	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;

	height: fit-content;
	padding: 10px;
}

.right-container {
	display: flex;
	flex-direction: column;

	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;

	height: fit-content;
	padding: 10px 10px 10px 0px;
}

.map-container {
	height: 82vh;
	overflow: hidden;
}

.right-paper {
	overflow: hidden; 
	height: 82vh;
}

.table-container {
	height: 73vh;
	overflow-y: scroll;
}

@media only screen and (max-width: 1160px) {
	.table-container {
		height: 63vh;
	}
}

@media only screen and (max-width: 900px) {
	.left-container {
		padding: 10px;
	}

	.right-container {
		padding: 10px;
	}

	.right-paper {
		height: fit-content;
	}

	.table-container {
		height: 60vh;
	}
}
